@use "../variables" as v;
@use "../mixins" as m;
.projectsWrapper {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 3em;

    @include m.sm {
        background-color: #ffede3;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        margin-bottom: 6em;

        box-shadow: -20px 0 4px rgba(0, 0, 0, 0.25),
            20px 0 4px rgba(0, 0, 0, 0.25);
    }
    @include m.md {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 3em;
    }

    @include m.lg {
        height: 70vh;
    }

    &_header {
        @include m.section_header;
    }

    .projectsContainer {
        @include m.md {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-items: stretch;
            gap: 1em;
        }

        @include m.lg {
            height: 100%;
        }
    }

    .project {
        display: flex;
        padding-top: 2.5em;
        width: 100%;

        @include m.md {
            display: block;
            padding-top: 0px;
        }
        &_image {
            flex-shrink: 0;
            height: 20vh;
            width: 50%;
            border-radius: 50%;
            transition: 0.1s ease-in-out;

            box-shadow: -10px -10px 20px #ffe2d1,
                10px 10px 20px rgba(0, 0, 0, 25%);

            @include m.md {
                width: 100%;
                border-radius: 10px;
            }

            @include m.lg {
                height: 45vh;
            }
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        &_text {
            display: none;

            @include m.sm {
                display: block;
            }
            @include m.md {
                display: none;
            }
        }

        &--fliped {
            flex-direction: row-reverse;

            @include m.sm {
                flex-direction: row;
            }
        }
        &.showOnMd {
            display: none;

            @include m.md {
                display: block;
            }
        }
    }
}
